Repository fga-eps-mds/2023-1-Dnit-DOC, pull requests merged in 2023-05, with the labels that each got.

#11 [12] Adicionando EAP integrado com Figma
  docs/docs/EAP/eap.md
  docs/docs/assets/projeto/eap.png
Labels: DOCS

#17 [16] Adicionando templates de issue e de pull request.
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentacao.md
  .github/ISSUE_TEMPLATE/us.md
  .github/pull_request_template.md
Labels: DOCS, EPS

#10 Protótipo
  docs/docs/Prototipo/prototipo.md
  docs/docs/assets/prototipoCadastro.jpeg
  docs/docs/assets/prototipoLogin.jpeg
  docs/mkdocs.yml
Labels: DOCS, MDS

#15 Adicionando guia de contribuição #13
  docs/docs/GuiaDeContribuicao/guiaDeContribuicao.md
Labels: DOCS, EPS

#19 Prototipo alta
  docs/docs/Prototipo/prototipo.md
  docs/docs/assets/prototipoDeAltaCadastro.png
  docs/docs/assets/prototipoDeAltaLogin.png
  docs/mkdocs.yml
Labels: MDS

#20 Planejamento de riscos
  docs/docs/gestaoDoProjeto/planoDeRisco.md
  docs/mkdocs.yml
Labels: DOCS, EPS

#21 Adicionando Código de Conduta
  docs/docs/codigoConduta/codConduta.md
  docs/mkdocs.yml
Labels: DOCS, EPS

#45 41 alteracao guia de contribuicao
  docs/docs/GuiaDeContribuicao/guiaDeContribuicao.md
  docs/docs/Prototipo/prototipo.md
  docs/docs/assets/prototipoDeAltaCadastro.png
  docs/docs/assets/prototipoDeAltaLogin.png
Labels: DOCS, EASY

#44 22 identidade visual
  docs/docs/assets/identidadeVisualDNIT/a-0.jpg
  docs/docs/assets/identidadeVisualDNIT/a-1.jpg
  docs/docs/assets/identidadeVisualDNIT/a-10.jpg
  docs/docs/assets/identidadeVisualDNIT/a-11.jpg
  docs/docs/assets/identidadeVisualDNIT/a-12.jpg
  docs/docs/assets/identidadeVisualDNIT/a-13.jpg
  docs/docs/assets/identidadeVisualDNIT/a-14.jpg
  docs/docs/assets/identidadeVisualDNIT/a-2.jpg
  docs/docs/assets/identidadeVisualDNIT/a-3.jpg
  docs/docs/assets/identidadeVisualDNIT/a-4.jpg
  docs/docs/assets/identidadeVisualDNIT/a-5.jpg
  docs/docs/assets/identidadeVisualDNIT/a-6.jpg
  docs/docs/assets/identidadeVisualDNIT/a-7.jpg
  docs/docs/assets/identidadeVisualDNIT/a-8.jpg
  docs/docs/assets/identidadeVisualDNIT/a-9.jpg
  docs/docs/assets/identidadeVisualDNIT/miv_dnit_2023_final_reduzido-site.pdf
  docs/docs/identidadeVisual/identidadeVisual.md
  docs/mkdocs.yml
Labels: DOCS, EASY

#47 #46 Adicionar workflow de deploy da documentação
  .github/workflows/build_check.yml
  .github/workflows/deploy.yml
  docs/mkdocs.yml
  docs/site/404.html
  docs/site/User Stories/userStories/index.html
  docs/site/assets/images/favicon.png
  docs/site/assets/javascripts/bundle.fac441b0.min.js
  docs/site/assets/javascripts/bundle.fac441b0.min.js.map
  docs/site/assets/javascripts/lunr/min/lunr.ar.min.js
  docs/site/assets/javascripts/lunr/min/lunr.da.min.js
  docs/site/assets/javascripts/lunr/min/lunr.de.min.js
  docs/site/assets/javascripts/lunr/min/lunr.du.min.js
  docs/site/assets/javascripts/lunr/min/lunr.es.min.js
  docs/site/assets/javascripts/lunr/min/lunr.fi.min.js
  docs/site/assets/javascripts/lunr/min/lunr.fr.min.js
  docs/site/assets/javascripts/lunr/min/lunr.hi.min.js
  docs/site/assets/javascripts/lunr/min/lunr.hu.min.js
  docs/site/assets/javascripts/lunr/min/lunr.hy.min.js
  docs/site/assets/javascripts/lunr/min/lunr.it.min.js
  docs/site/assets/javascripts/lunr/min/lunr.ja.min.js
  docs/site/assets/javascripts/lunr/min/lunr.jp.min.js
  docs/site/assets/javascripts/lunr/min/lunr.ko.min.js
  docs/site/assets/javascripts/lunr/min/lunr.multi.min.js
  docs/site/assets/javascripts/lunr/min/lunr.nl.min.js
  docs/site/assets/javascripts/lunr/min/lunr.no.min.js
  docs/site/assets/javascripts/lunr/min/lunr.pt.min.js
  docs/site/assets/javascripts/lunr/min/lunr.ro.min.js
  docs/site/assets/javascripts/lunr/min/lunr.ru.min.js
  docs/site/assets/javascripts/lunr/min/lunr.stemmer.support.min.js
  docs/site/assets/javascripts/lunr/min/lunr.sv.min.js
  docs/site/assets/javascripts/lunr/min/lunr.ta.min.js
  docs/site/assets/javascripts/lunr/min/lunr.th.min.js
  docs/site/assets/javascripts/lunr/min/lunr.tr.min.js
  docs/site/assets/javascripts/lunr/min/lunr.vi.min.js
  docs/site/assets/javascripts/lunr/min/lunr.zh.min.js
  docs/site/assets/javascripts/lunr/tinyseg.js
  docs/site/assets/javascripts/lunr/wordcut.js
  docs/site/assets/javascripts/workers/search.208ed371.min.js
  docs/site/assets/javascripts/workers/search.208ed371.min.js.map
  docs/site/assets/stylesheets/main.85bb2934.min.css
  docs/site/assets/stylesheets/main.85bb2934.min.css.map
  docs/site/assets/stylesheets/palette.a6bdf11c.min.css
  docs/site/assets/stylesheets/palette.a6bdf11c.min.css.map
  docs/site/index.html
  docs/site/search/search_index.json
  docs/site/sitemap.xml
  docs/site/sitemap.xml.gz
Labels: DEVOPS, EPS

#38 28 modelagem de dados
  docs/docs/assets/arquitetura/diagramaDeArquitetura.png
  docs/docs/identidadeVisual/identidadeVisual.md
  docs/docs/modelagemDados/modelagemDeDados.md
  docs/docs/projeto/arquitetura.md
  docs/mkdocs.yml
Labels: DOCS, EPS

#52 Adicionando documentação de atas de reunião
  docs/docs/atasDeReuniao/atasReuniao.md
  docs/mkdocs.yml
Labels: DOCS

#53 Adicionando documentação de Sprints
  docs/docs/Sprints/Sprint_1.md
  docs/docs/Sprints/Sprint_2.md
  docs/mkdocs.yml
Labels: DOCS, EPS

#55 Adicionando gráfico de Gantt
  docs/docs/EAP/eap.md
  docs/docs/gestaoDoProjeto/graficoGantt.md
  docs/mkdocs.yml
Labels: DOCS, EPS

#57 56 organizacao pages
  docs/docs/Backlog/backlog.md
  docs/mkdocs.yml
Labels: DOCS

#58 8 quadros conhecimento pareamento
  docs/docs/atasDeReuniao/atasReuniao.md
  docs/docs/gestaoDoProjeto/quadroConhecimento.md
  docs/docs/gestaoDoProjeto/quadroPareamento.md
  docs/mkdocs.yml
Labels: DOCS
